@import "../../assets/scss/variables";
@import "../../assets/scss/base";
@import "../../assets/scss/mixin";


.el-col {
  padding-bottom: 10px;
}

.name-span {
  display: inherit;
  margin-bottom: 10px;
  color: $grey;
  cursor: pointer;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  @include transition(all, 0.5s);

  &:hover {
    @include transition(all, 0.5s);
    color: $main-color;
    //font-weight: 500;
  }

}
