html, body, h1, h2, h3, h4, h5, h6, hr, li, ul, p, a, img, button {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  font-weight: 300;
  list-style: none; }

html {
  height: 100%; }

* {
  position: relative;
  box-sizing: border-box; }

button {
  outline: none; }

/*
 * grid
 */
.info-wrapper {
  display: inline-block;
  margin-top: 80px;
  padding: 60px;
  width: 100%;
  height: auto;
  background-color: #ffffff; }
  .info-wrapper .left-form-wrapper {
    display: inline-block;
    width: 60%;
    height: auto; }
  .info-wrapper .right-form-wrapper {
    display: inline-block;
    width: 39%;
    vertical-align: top; }
    .info-wrapper .right-form-wrapper .tags-wrapper /deep/ .el-input {
      display: inline-block;
      width: 80px; }
    .info-wrapper .right-form-wrapper .tags-wrapper /deep/ .el-tag {
      margin-right: 10px;
      border-radius: 100px; }
    .info-wrapper .right-form-wrapper .tags-wrapper button {
      border: solid 1px #CFE4FD;
      border-radius: 100px;
      padding: 0 10px;
      height: 30px;
      line-height: 30px;
      font-size: 12px; }
    .info-wrapper .right-form-wrapper .profession-selection /deep/ .el-input--suffix .el-input__inner {
      width: 200px; }
    .info-wrapper .right-form-wrapper .profession-selection /deep/ .el-input__suffix {
      right: -35px; }
    .info-wrapper .right-form-wrapper .sign-in-button-wrapper {
      display: block;
      float: right;
      text-align: center; }
      .info-wrapper .right-form-wrapper .sign-in-button-wrapper /deep/ .el-button {
        padding: 8px 20px;
        background-color: #4e7ede;
        border-radius: 100px;
        letter-spacing: 6px;
        text-indent: 6px;
        color: #ffffff;
        -webkit-transition: all, 0.5s;
        -moz-transition: all, 0.5s;
        -ms-transition: all, 0.5s;
        -o-transition: all, 0.5s;
        transition: all, 0.5s; }
        .info-wrapper .right-form-wrapper .sign-in-button-wrapper /deep/ .el-button:hover {
          -webkit-transition: all, 0.5s;
          -moz-transition: all, 0.5s;
          -ms-transition: all, 0.5s;
          -o-transition: all, 0.5s;
          transition: all, 0.5s;
          background-color: #5689f2; }
  .info-wrapper h1 {
    color: #4e7ede;
    font-weight: 400;
    font-size: 22px; }
  .info-wrapper form {
    margin-top: 50px; }
  .info-wrapper /deep/ .el-input {
    width: 80%; }
  .info-wrapper /deep/ .el-form-item {
    margin-bottom: 40px; }
  .info-wrapper /deep/ .el-form--label-top .el-form-item__label {
    padding: 0;
    height: 35px; }
  .info-wrapper /deep/ .el-input-number__increase, .info-wrapper /deep/ .el-input-number__decrease, .info-wrapper /deep/ .el-input-number__decrease.is-disabled, .info-wrapper /deep/ .el-input-number__increase.is-disabled {
    margin-right: 35px;
    background: none;
    border: none; }
  .info-wrapper /deep/ .el-cascader__label {
    font-size: 12px;
    font-weight: 400; }

/*# sourceMappingURL=UserInfo.css.map */
