@import "../../assets/scss/variables";
@import "../../assets/scss/base";
@import "../../assets/scss/mixin";

.skill-wrapper {
  height: auto;
  background-color: $white-color;
  border-top: solid 1px $border-color;
  padding: 20px 0;
}
