@import "../../assets/scss/variables";
@import "../../assets/scss/base";
@import "../../assets/scss/mixin";

.list-wrapper {
  display: inline-block;
  margin-top: 80px;
  padding: 30px;
  width: 100%;
  height: auto;
  background-color: $white-color;

  .list-body {
    min-width: 100%;
    width: auto;
    height: 200px;
    white-space: nowrap;
    overflow: hidden;
    overflow-x: scroll;

    &::-webkit-scrollbar {
      display: none;
    }

  }


}
