@import "../../assets/scss/variables";
@import "../../assets/scss/base";
@import "../../assets/scss/mixin";

.letter-wrapper {
  display: inline-block;
  span {
    display: inline-block;
    font-size: 14px;
    color: $grey;
    margin-right: 20px;
    cursor: pointer;
    @include transition(all, 0.3s);

    &:hover {
      @include transition(all, 0.3s);
      font-size: 15px;
      color: $main-color;
      font-weight: 500;
    }
  }
}
